.bg {
    padding: 2em;
    border: 0;
    border-radius: 2em;

    width: max-content;
    max-width: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--darkblue);
    text-align: center;
}

@media screen and (max-width: 800px) {
    .bg {
        width: 100%;
        max-width: calc(100% - var(--margin-min)*2);
    }
}

.bg > h1 {
    text-align: center;
    margin: 0;
    margin-bottom: var(--margin);
}

.errMess {
    color: red;
    margin-top: var(--margin);
}